
<h1>Beauty:</h1>
<!--
<div class = "product">
   
    {{#each products}}
    
        <div class = "product1">
            <img class = "one" src = "{{this.image}}" alt = "2" />
            <p class = "productinfo">{{this.description}}</p>
        </div>
   
    {{/each}}
</div>
-->
     <form method="POST" action="/products">
        <label>Search By Category: </label>
        <select name="category">

                <option value="All">All</option>
                {{#each products}}
    
                <option value="{{this.description}}">{{this.description}}</option>
   
                {{/each}}
        </select>
        <input type="submit" value="Search">
     </form> <br>
<p>Current Category: {{this.currentCategory}}</p>
<br>
<p>Product List</p>
<div class = "productbest">
    {{#each productsbest}}
        <div class = "productbest1">

            {{#if this.bestseller }}
            <img class = "bestsellericon" src = "/img/besticon.png"/>
            {{/if}}




            
            <img class = "two" src = "/uploads/{{this.image}}" alt = "2" />
            <p class = "producttitle">{{this.title}}</p>
            <p class = "productinfo">{{this.category}}</p>
            <p class = "productprice">CAD ${{this.price}}</p>
            <a href="/products/productDes/{{this.id}}">See details</a>
           
        </div>

    {{/each}}
</div>