<div class = "productDesDiv">
    <img class = "productImage" src = "/uploads/{{product_img}}"/>

    <div class = "productDes">
        <p class = "productDes_name">{{product_name}}</p>
        <br>
        <p>{{product_price}}</p>
        <br>
        <p>{{product_description}}</p>
        <br>
        {{#if product_available }}
        <p>In Stock</p>
        {{else}}
        <p>Out of Stock</p>
        {{/if}}
        <br><br>

        <form method="POST" action="/products/productDes/{{_id}}">

            <label>Quantity</label>
            <input type="number" name="quantity" id="quantity" value="1"> <br><br>

            <input type="submit" value="Add to Cart">
        </form>

        <br><br>
        {{#each errors}}
            <div class="productDes_message">{{this}}</div>
        {{/each}}
    <div>
</div>